body{
	
	background-color:#ffbce6;
	font-family: 'Press Start 2P';
} 
img {
        display: block;
      margin: auto;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
<ul>
  <li><a href="#home">Game</a></li>
  <li><a href="sketch">About Us</a></li>
  <li><a href="file:///Users/kelseygriffin/Desktop/kaps/sketch.html">About The Game</a></li>
</ul>
